<div class="row">
  <div class="text-center col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-xs-12">
    <!-- Users must be signed in to create pins -->
    <% if user_signed_in? %>
      <%= link_to 'Create New Pin', new_pin_path, class: "btn btn-primary" %>
    <!-- Otherwise... -->
    <% else %>
      <h4> Want to pin things like all the cool kids? </h4>
      <%= link_to "LOG IN", user_session_path, class: "btn btn-default" %> 
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


  <div id="pins" class="text-center transitions-enabled clearfix">
    
    <!-- start pin loop, and for each pin do... -->
    <% @pins.each do |pin| %>

    <div class="pin">

      <div class="panel panel-default">

        <div class="panel-header">
          <!-- link to show pin, wrapped around element -->
          <%= link_to pin do %>
            <!-- <img> using pin image thumbnail -->
            <%= image_tag pin.image.url, class: 'center-block img-responsive' %>
          <% end %>
        </div>

        <div class="panel-body">
          <div class="desc">
            <!-- Pin description -->
            <%= pin.description %>
          </div>
        </div>
        
        <div class="panel-footer">
          <div class="col-xs-12">
            <div class="row user">
              <!-- User's email address, if pin has user assigned -->
              Posted By: User <%= pin.user.id if pin.user %>
            </div>  
          </div>
          <div class="row actions">
            <div class="btn-group">
              <%= link_to 'Show', pin, class: "btn btn-default btn-sm" %>
                <!-- Users can only Edit or Delete their own pins -->
                <% if pin.user == current_user %>
                  <!-- link to edit pin -->
                  <%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-default btn-sm" %>
                  <!-- link to delete pin, with necessary method, and confirmation dialog -->
                  <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm" %>
              <% end %>
            </div>
          </div>
        </div>

      </div>

    </div>

    <% end %> 

  </div>
        
      
      
        

